 body {
   margin: 0;
 }

 h1 {
   margin-top: 0;
 }

div {
  background-color: #e4f9f5;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: #30e3ca;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: #11999e;
}
